# Compilación
**/bin/
**/obj/
*.o
*.exe
*.bin
*.log

# Code::Blocks temporales
*.depend
*.layout
*.autosave
*.save
*.workspace

#Excepción
!/gen_indice_bin.workspace

# VSCode
**/.vscode/

# Archivos de sistema (macOS / Windows)
.DS_Store
Thumbs.db